body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(200,220,200);
    height: max(20vh, 5rem);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    box-shadow: 0 0 10px rgba(0,20,30,0.6);
    overflow: none;

}

.gamemode {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
    grid-template-rows: repeat(7, 1fr);
    height: max(80vh, 15rem);
    gap: 1rem;
}

.pvp {
    grid-area: 4 / 3 / 5 / 4;

}

.or-divider {
    grid-area: 5 / 3 / 6 / 4;
    justify-self: center;
    align-self: center;

}

.ai {
    grid-area: 6 / 3 / 7 / 4;

}

.pvp, .ai {
    border-radius: 100px;
}

.gameboard {
    display: none;
    grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
    grid-template-rows: repeat(6, 1fr);
    height: max(80vh, 15rem);

}
.card {
    font-size: 3rem;
    
}

.row-1 {
    grid-area: 2 / 2 / 3 / 5;
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    grid-template-rows: minmax(50px, 1fr);
    
}
.row-2 {
    grid-area: 3 / 2 / 4 / 5;
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    grid-template-rows: minmax(50px, 1fr);
}

.row-3 {
    grid-area: 4 / 2 / 5 / 5;
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    grid-template-rows: minmax(50px, 1fr);
    
}

.reset {
    grid-area: 5 / 2 / 6 / 3;
}
.reset, .new-game {
    margin: 1rem;
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: 2rem;
}

.new-game {
    grid-area: 5 / 4 / 6 / 5; 
}

.message {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
    grid-area: 1 / 2 / 2 / 5;
    justify-self: center;
    align-self: center;
}

@media screen and (max-width: 500px) {
    header {
        font-size: 3rem;
    }

    .card {
        font-size: 2rem;
    }

    .gameboard {
        grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    }

    .message {
        font-size: 2rem;
    }
}

@media screen and (max-height: 500px) {
    .card {
        font-size: 1.5rem;
    }
}

#player1 {
    grid-area: 2 / 2 / 3 / 5;
}
#player2 {
    grid-area: 3 / 2 / 4 / 5;
}

#player1, #player2 {
    border-radius: 5px;
}